/* Contribution Page specific CSS */

.contributionOverview-sectionBox {
    border: 3px solid #ddd;
    border-radius: 4px;
    padding: 12px 8px 8px 12px;
}

.contributionOverview-fieldName {
    font-weight: bold;
    text-decoration: underline;
}

.contributionOverview-url,
.contributionOverview-fieldValue {
    margin-bottom: 8px;
}

/* Contribution Status Colours */

.contributionStatus {
    font-weight: bold;
}

.contributionStatus .OPEN {
    color: gray;
}

.contributionStatus .PENDING_APPROVAL {
    color: orange;
}

.contributionStatus .ACCEPTED {
    color: blue;
}

.contributionStatus .MERGED {
    color: cyan;
}

.contributionStatus .REJECTED {
    color: red;
}

.contributionStatus .TERMINATED {
    color: purple;
}
